:root {
    --button-group-margin-size: 1em;
    --button-background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

/*----semantic----*/
body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: hsl(253, 24%, 10%);
    color: white;

    font-family: 'Roboto', sans-serif;
}

/*----main----*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    color: white;
    background: hsl(253, 24%, 14%);

    box-shadow: 5px 10px 18px black;
    border-radius: 25px;

    padding: 1.5em;
    margin: 1.8em;
}

section > .container:not(:last-child) {
    padding: 0 1em 2em;
}

section > .container:only-of-type {
    padding: 1em;
}

/*----footer----*/
footer {
    display: flex;
    justify-content: center;

    margin: 0 2em 0;
    padding: 0.8em 2em;

    font-size: 1.2em;
    background: hsl(253, 24%, 14%);
    border-radius: 25px 25px 0 0;

    text-align: center;
}

/*----inner-area----*/
/*----form----*/
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form > * {
    margin-bottom: 1em;
}

form.big-form .button, form.big-form input, .button.big, input.big {
    font-size: 1.5em;
}

form.big-form input[type=text] {
    width: 100%;
}

/*--form--*/

/*----form-elements----*/
/*----input, button, textarea----*/
.button:focus, input:focus, textarea:focus {
    outline: none;
    border: 4px solid hsl(193, 82%, 45%);
}

input {
    min-width: 0;
}

textarea {
    border-radius: 15px;
}

.button, input, textarea {
    font-size: 1em;
    padding: 0.5em 1.5em;
    box-shadow: 5px 5px 50px black;
    border: solid 4px transparent;
}

input, textarea {
    padding: 0.5em;
    text-align: center;
    border: solid 4px hsl(281, 86%, 28%);
}

.button, input {
    border-radius: 50px;
}

.button {
    color: white;
    font-weight: bolder;
    background-size: 200% auto;
    /*background-image: linear-gradient(to right, #a4508b 0%, #5f0a87 74%);*/
    background-image: var(--button-background);
    background-origin: border-box;
    transition: background-position 0.5s;

    cursor: pointer;
    align-self: center;
}

.button:hover, .button:focus {
    background-image: var(--button-background);
    background-position: right center;
}

a.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    color: white;
    text-decoration: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
}

.button-group > *:not(:only-child) {
    margin: 0.5em 0;
}

.button-group > *:not(:only-child):not(:last-child) {
    margin-right: calc(var(--button-group-margin-size) * 2);
}

/*----select----*/
select {
    --select-background: hsl(253, 24%, 18%);
    /*background-image: var(--button-background);*/
    /*border: unset;*/
    border: 2px solid hsl(253, 24%, 10%);

    border-radius: 5px;
    background-color: var(--select-background);
    color: white;
    font-size: 1.2em;
    line-height: 1.3;
    padding: .1em .3em;
    margin: 0;
    overflow-y: auto;
}

select:focus {
    outline: none;
    border: 2px solid rgba(81, 203, 238, 1);
}

select option {
    background-color: var(--select-background);
}

/*--form-elements--*/

/*----nav----*/
ul {
    padding-left: 0;
    list-style-type: none;
}

.tab-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tab-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

.tab-link {
    color: white;
    font-weight: bolder;
    padding: 0.2em 1em;
    border-radius: 0;
    background-color: hsl(281, 86%, 28%);
    background-image: unset;
    box-shadow: none;
}

.tab-link.active, .tab-link:hover {
    background-color: hsl(281, 86%, 40%);
    /*border: 4px solid hsl(193, 82%, 45%);*/
}

.tab-item:first-child .tab-link {
    border-radius: 50px 0 0 50px;
}

.tab-item:last-child .tab-link {
    border-radius: 0 50px 50px 0;
}

/*--nav--*/

/*----basic----*/
h1.title {
    align-self: center;
    margin: 0 0 1rem;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a.visible {
    color: hsl(281, 86%, 40%);
}

a.visible:hover {
    color: hsl(281, 86%, 40%);
}

/*----other----*/
hr {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

.vr {
    border-left: 1px solid white;
    margin: 0 1em;
}

/*----modal-----*/
.modal-content {
    color: white;
    border-radius: 10px;
    background: hsl(253, 24%, 15%);
}

.modal-content .close {
    color: white;
}

/*----responsive----*/
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    section {
        padding: 1em;
        margin: 1.3em;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    main {
        padding: 1em;
    }
}
